
.tooltip2 {
    display: inline;
    position: relative;
}
.tooltip2:hover:after {
    top: 80px;
    content: attr(tip); /* este es el texto que será mostrado */
    left: 20%;
    position: absolute;
    z-index: 98;
    /* el formato gráfico */
    /*background: rgba(255,255,255, 0.2); /* el color de fondo */
    border-radius: 5px;
    color: #FFF; /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
}
/*
.tooltip2:hover:before {
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
   /*el triángulo inferior
  border: solid;
  border-color: rgba(255,255,255, 0.2) transparent;
  border-width: 6px 6px 0 6px;
}*/
.magnify{
    display: inline-block;
    width: 38px; 
    margin: 0; 
    padding:0; 
    position: relative;
}
.tooltip2{
    z-index:3000; 
    width: 140px; 
    height: 140px; 
    position: absolute; 
    border-radius: 100%; 
    /*      box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25); */
    display: none;

}
.magnify img{
    z-index:2000;
    display: block;
    width: 40px;
}
img.magnifying_glass{
    width:250px;
    position:relative;
    top:-30px;
    left:-28px;
    z-index:90;
}